*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-post__img{
    width: 100%;
}

.main-blog{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #eee;
    padding: 0 1.5rem ;


}

.blog-post{
    width: 100%;
    max-width: 90rem;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(212, 199, 199, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}
.blog-post:hover{
    background-color:#cdc9c9;
    color: white;
    cursor: pointer;
    transform: scale(1.01);
    transition: all 1s ease;
}
.blog-post__img{
    min-width: 70px;
    max-width: 400px;
    height: 20rem;
    transform: translateX(-3rem);
    position: relative;
  
}

.blog-post__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
  
}

.blog-post__img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient( to right ,rgba( 79,172, 254, .8 ),rgba(0, 242 ,254,.8));  */
    box-shadow: .5rem .5rem 3rem 1px rgba( 0,0,0,.05);
    border-radius: .8rem;

}

.blog-post__date span{
    display: block;
    color: rgb(37, 34, 34);
    /* color: #ec2d2d; */
    font-size: 20px;
    font-weight: 500;
    /* margin: .5rem 0; */
    font-family: Arial, Helvetica, sans-serif;


}
.blog-post__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin: 1.5rem 0 1.5rem;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    color:black;
}
 
.blog-post__text{
    margin-bottom: 3rem;
    font-size: 18px;
    color: rgba( 0,0,0,.7);
    font-family: Arial, Helvetica, sans-serif;
}
.blog-post__cta{
    background: black;
    border-radius: 40px;
    color: white;
    padding: 7px 20px;
    display: block;
    text-align: center;
    margin: 20px 5px;
    text-decoration: none;
    width: 160px;
    font-size: 20px;
    background-image: linear-gradient(to right , #060606 0%, #4a4848 100%);

    /* display: inline-block;
    padding: 1.5rem 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    border-radius: .8rem;
    text-decoration:none ; */

}

 .blog-post__cta:hover{
    background-image: linear-gradient(to right ,#4a4848   0%,  #060606 100%);

 }
 @media  screen  and (max-width: 1068px) {
    .blog-post{
       max-width: 70rem;
    } 
 
 }
 @media  screen  and (max-width: 868px) {
    .main-blog{
        padding: 2.5rem;
        margin-top: 25rem;
       
    }
    .blog-post{
        padding: 2.5rem;
        flex-direction: column;
    } 
    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, 0);
        margin-bottom: 10px;
        
    }
    
 }
 @media  screen  and (max-width: 768px) {
    .main-blog{
        padding: 2.5rem;
    }
    .blog-post{
        padding: 2.5rem;
        flex-direction: column;
    } 
    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, 0);
        
    }
    .blog-post__text{
        font-size: 15px;
    }
 }

