
.About-Sol{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 60px;
    text-align: center;
    height: fit-content;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 60px;
}
.youtube-container{
    margin-left: 450px;
}

/* 
.h1-style h1{
    padding-left: 80px;
    margin-top: 15px;
    font-size: 30px;
    font-family: sans-serif;
} */
@media screen and (width<900px){
    .About-Sol{
        padding-top:130px;
    }   
  
}
@media screen and (width<750px){
    .About-Sol{
        font-size: 12px;
        padding-top:70px;
    }
}
@media screen and (width<600px){
    .About-Sol{
        font-size: 10px;
        padding-top:40px;
        padding-left: 20px;
        padding-right:20px;
        padding-bottom: 40px;
    }
}
/* 
.Implementation
{
    width: 1000px;
    height: 700px;
    justify-content: center;
} */
/* 
h1{

    padding-left: 80px;
    padding-bottom: 20px;
    font-size: 34px;
    font-family: sans-serif;
}
 */


 @media screen and (width<900px){
    .sol-heading{
        padding-top:130px;
    }     
}
@media screen and (width<750px){
    .sol-heading{
        font-size: 12px;
        padding-top:70px;
    }
}
@media screen and (width<600px){
    .sol-heading{
        font-size: 10px;
        padding-top:40px;
        padding-left: 20px;
        padding-right:20px;
        padding-bottom: 40px;
    }
}