.head-content{
    
    padding-top: 50px;
    text-align: center;
    height: fit-content;
    padding-left: 120px;
    padding-right: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
@media screen and (width<900px){
    .head-content{
        padding-top:30px;
    }     
}

@media screen and (width<750px){
    .head-content{
        font-size: 12px;
        padding-top:70px;
    }
}
@media screen and (width<600px){
    .head-content{
        font-size: 15px;
        padding-top:40px;
        padding-left: 20px;
        padding-right:20px;
        /* padding-bottom: 40px; */
    }
}