.years-experience {
  height: 340px !important;
  width: 360px !important;
  margin-left: 186px;
  margin-right: 175px;
}
.text-experience {
  font-family: 'Poppins';
  font-style: normal;
font-size: 27px !important;
padding-left: 20px;
margin-top: 40px;
margin-right: 130px;
width: fit-content;
color:#09006F;
text-align: center;
}
.ExperienceGrid{
  margin-top: 75px;
}
.content-exerience{
  font-family: 'Poppins';
  font-size: 16px;
  padding-top: 33px;
  margin-right: 130px;
  text-align: center;
  height: fit-content;
  color:#2F3132;
}

@media screen and (width<1100px){
.years-experience{
  margin-left: auto;
  margin-right: auto;
}    
.content-exerience{
  margin-left: auto;
  margin-right: auto;
}
.text-experience{
  margin-left: auto;
  margin-right: auto;
}
}
@media screen and (width<750px){
.years-experience{
  margin-left: auto;
  margin-right: auto;
  height: 200px !important;
  width: 200px !important;
}       
.content-exerience{
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}
.text-experience{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px !important; 
  text-align: center;
}
}
@media screen and (width<600px){
  .years-experience{
    height: 140px !important;
    Width: 140px !important;
  }
  .text-experience{
    font-size: 16px !important;
  }
  .content-exerience{
    font-size: 10px;
  }
  .ExperienceGrid{
    margin-top: 40px;
  }
}
@media screen and (width<400px) {
  .ExperienceGrid{
    margin-top: 33px;
  }
  .text-experience{
    margin-top: 33px;
  }
}
@media screen and (width<330px) {
  .ExperienceGrid{
    margin-top: 18px;
  }
  .text-experience{
    margin-top: 18px;
  }
  .content-exerience{
    padding-top: 18px;
  }
}