
.logo-img{
    width: 237px;
    /* height: 48px; */
}
.navbar-links{
    color: #fff;
    
}

.nav-button{
    color: white;
    font-size: 16px;
    margin-left: 50px;
    background-color: blue;
    border-radius: 5px;
    padding: 7px;
}
.navbar{
    height: 63px;
    background: black;
    z-index: 100;
}
.icon1{
    color: #fff;
}
nav.sticky{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
    position: sticky;
    top: 0;
    z-index: 100;
}

.ulsticky{
    position: fixed;
}
.dropmenu{
    z-index: 9999;
}
.closebutton{
    color: white;
    text-align: center;
   
    font-size: 25px;
    margin-top: 30px;
}
.openbutton{
    margin-right: 15px;
}